/* ======================= Start-Font-size ======================= */
.fsize1 {
  font-size: 1px !important;
}
.fsize2 {
  font-size: 2px !important;
}
.fsize3 {
  font-size: 3px !important;
}
.fsize4 {
  font-size: 4px !important;
}
.fsize5 {
  font-size: 5px !important;
}
.fsize6 {
  font-size: 6px !important;
}
.fsize7 {
  font-size: 7px !important;
}
.fsize8 {
  font-size: 8px !important;
}
.fsize9 {
  font-size: 9px !important;
}
.fsize10 {
  font-size: 10px !important;
}
.fsize11 {
  font-size: 11px !important;
}
.fsize12 {
  font-size: 12px !important;
}
.fsize13 {
  font-size: 13px !important;
}
.fsize14 {
  font-size: 14px !important;
}
.fsize15 {
  font-size: 15px !important;
}
.fsize16 {
  font-size: 16px !important;
}
.fsize17 {
  font-size: 17px !important;
}
.fsize18 {
  font-size: 18px !important;
}
.fsize19 {
  font-size: 19px !important;
}
.fsize20 {
  font-size: 20px !important;
}
.fsize21 {
  font-size: 21px !important;
}
.fsize22 {
  font-size: 22px !important;
}
.fsize23 {
  font-size: 23px !important;
}
.fsize24 {
  font-size: 24px !important;
}
.fsize25 {
  font-size: 25px !important;
}
.fsize26 {
  font-size: 26px !important;
}
.fsize27 {
  font-size: 27px !important;
}
.fsize28 {
  font-size: 28px !important;
}
.fsize29 {
  font-size: 29px !important;
}
.fsize30 {
  font-size: 30px !important;
}
.fsize31 {
  font-size: 31px !important;
}
.fsize32 {
  font-size: 32px !important;
}
.fsize33 {
  font-size: 33px !important;
}
.fsize34 {
  font-size: 34px !important;
}
.fsize35 {
  font-size: 35px !important;
}
.fsize36 {
  font-size: 36px !important;
}
.fsize37 {
  font-size: 37px !important;
}
.fsize38 {
  font-size: 38px !important;
}
.fsize39 {
  font-size: 39px !important;
}
.fsize40 {
  font-size: 40px !important;
}
.fsize41 {
  font-size: 41px !important;
}
.fsize42 {
  font-size: 42px !important;
}
.fsize43 {
  font-size: 43px !important;
}
.fsize44 {
  font-size: 44px !important;
}
.fsize45 {
  font-size: 45px !important;
}
.fsize46 {
  font-size: 46px !important;
}
.fsize47 {
  font-size: 47px !important;
}
.fsize48 {
  font-size: 48px !important;
}
.fsize49 {
  font-size: 49px !important;
}
.fsize50 {
  font-size: 50px !important;
}
.fsize51 {
  font-size: 51px !important;
}
.fsize52 {
  font-size: 52px !important;
}
.fsize53 {
  font-size: 53px !important;
}
.fsize54 {
  font-size: 54px !important;
}
.fsize55 {
  font-size: 55px !important;
}
.fsize56 {
  font-size: 56px !important;
}
.fsize57 {
  font-size: 57px !important;
}
.fsize58 {
  font-size: 58px !important;
}
.fsize59 {
  font-size: 59px !important;
}
.fsize60 {
  font-size: 60px !important;
}
.fsize61 {
  font-size: 61px !important;
}
.fsize62 {
  font-size: 62px !important;
}
.fsize63 {
  font-size: 63px !important;
}
.fsize64 {
  font-size: 64px !important;
}
.fsize65 {
  font-size: 65px !important;
}
.fsize66 {
  font-size: 66px !important;
}
.fsize67 {
  font-size: 67px !important;
}
.fsize68 {
  font-size: 68px !important;
}
.fsize69 {
  font-size: 69px !important;
}
.fsize70 {
  font-size: 70px !important;
}
.fsize71 {
  font-size: 71px !important;
}
.fsize72 {
  font-size: 72px !important;
}
.fsize73 {
  font-size: 73px !important;
}
.fsize74 {
  font-size: 74px !important;
}
.fsize75 {
  font-size: 75px !important;
}
.fsize76 {
  font-size: 76px !important;
}
.fsize77 {
  font-size: 77px !important;
}
.fsize78 {
  font-size: 78px !important;
}
.fsize79 {
  font-size: 79px !important;
}
.fsize80 {
  font-size: 80px !important;
}
.fsize81 {
  font-size: 81px !important;
}
.fsize82 {
  font-size: 82px !important;
}
.fsize83 {
  font-size: 83px !important;
}
.fsize84 {
  font-size: 84px !important;
}
.fsize85 {
  font-size: 85px !important;
}
.fsize86 {
  font-size: 86px !important;
}
.fsize87 {
  font-size: 87px !important;
}
.fsize88 {
  font-size: 88px !important;
}
.fsize89 {
  font-size: 89px !important;
}
.fsize90 {
  font-size: 90px !important;
}
.fsize91 {
  font-size: 91px !important;
}
.fsize92 {
  font-size: 92px !important;
}
.fsize93 {
  font-size: 93px !important;
}
.fsize94 {
  font-size: 94px !important;
}
.fsize95 {
  font-size: 95px !important;
}
.fsize96 {
  font-size: 96px !important;
}
.fsize97 {
  font-size: 97px !important;
}
.fsize98 {
  font-size: 98px !important;
}
.fsize99 {
  font-size: 99px !important;
}
.fsize100 {
  font-size: 100px !important;
}
/* ======================= End-Font-size ======================= */

/* ======================= Start-MD-Font-size ======================= */
@media (max-width: 768px) and (min-width: 641px) {
  .md-fsize1 {
    font-size: 1px !important;
  }
  .md-fsize2 {
    font-size: 2px !important;
  }
  .md-fsize3 {
    font-size: 3px !important;
  }
  .md-fsize4 {
    font-size: 4px !important;
  }
  .md-fsize5 {
    font-size: 5px !important;
  }
  .md-fsize6 {
    font-size: 6px !important;
  }
  .md-fsize7 {
    font-size: 7px !important;
  }
  .md-fsize8 {
    font-size: 8px !important;
  }
  .md-fsize9 {
    font-size: 9px !important;
  }
  .md-fsize10 {
    font-size: 10px !important;
  }
  .md-fsize11 {
    font-size: 11px !important;
  }
  .md-fsize12 {
    font-size: 12px !important;
  }
  .md-fsize13 {
    font-size: 13px !important;
  }
  .md-fsize14 {
    font-size: 14px !important;
  }
  .md-fsize15 {
    font-size: 15px !important;
  }
  .md-fsize16 {
    font-size: 16px !important;
  }
  .md-fsize17 {
    font-size: 17px !important;
  }
  .md-fsize18 {
    font-size: 18px !important;
  }
  .md-fsize19 {
    font-size: 19px !important;
  }
  .md-fsize20 {
    font-size: 20px !important;
  }
  .md-fsize21 {
    font-size: 21px !important;
  }
  .md-fsize22 {
    font-size: 22px !important;
  }
  .md-fsize23 {
    font-size: 23px !important;
  }
  .md-fsize24 {
    font-size: 24px !important;
  }
  .md-fsize25 {
    font-size: 25px !important;
  }
  .md-fsize26 {
    font-size: 26px !important;
  }
  .md-fsize27 {
    font-size: 27px !important;
  }
  .md-fsize28 {
    font-size: 28px !important;
  }
  .md-fsize29 {
    font-size: 29px !important;
  }
  .md-fsize30 {
    font-size: 30px !important;
  }
  .md-fsize31 {
    font-size: 31px !important;
  }
  .md-fsize32 {
    font-size: 32px !important;
  }
  .md-fsize33 {
    font-size: 33px !important;
  }
  .md-fsize34 {
    font-size: 34px !important;
  }
  .md-fsize35 {
    font-size: 35px !important;
  }
  .md-fsize36 {
    font-size: 36px !important;
  }
  .md-fsize37 {
    font-size: 37px !important;
  }
  .md-fsize38 {
    font-size: 38px !important;
  }
  .md-fsize39 {
    font-size: 39px !important;
  }
  .md-fsize40 {
    font-size: 40px !important;
  }
  .md-fsize41 {
    font-size: 41px !important;
  }
  .md-fsize42 {
    font-size: 42px !important;
  }
  .md-fsize43 {
    font-size: 43px !important;
  }
  .md-fsize44 {
    font-size: 44px !important;
  }
  .md-fsize45 {
    font-size: 45px !important;
  }
  .md-fsize46 {
    font-size: 46px !important;
  }
  .md-fsize47 {
    font-size: 47px !important;
  }
  .md-fsize48 {
    font-size: 48px !important;
  }
  .md-fsize49 {
    font-size: 49px !important;
  }
  .md-fsize50 {
    font-size: 50px !important;
  }
  .md-fsize51 {
    font-size: 51px !important;
  }
  .md-fsize52 {
    font-size: 52px !important;
  }
  .md-fsize53 {
    font-size: 53px !important;
  }
  .md-fsize54 {
    font-size: 54px !important;
  }
  .md-fsize55 {
    font-size: 55px !important;
  }
  .md-fsize56 {
    font-size: 56px !important;
  }
  .md-fsize57 {
    font-size: 57px !important;
  }
  .md-fsize58 {
    font-size: 58px !important;
  }
  .md-fsize59 {
    font-size: 59px !important;
  }
  .md-fsize60 {
    font-size: 60px !important;
  }
  .md-fsize61 {
    font-size: 61px !important;
  }
  .md-fsize62 {
    font-size: 62px !important;
  }
  .md-fsize63 {
    font-size: 63px !important;
  }
  .md-fsize64 {
    font-size: 64px !important;
  }
  .md-fsize65 {
    font-size: 65px !important;
  }
  .md-fsize66 {
    font-size: 66px !important;
  }
  .md-fsize67 {
    font-size: 67px !important;
  }
  .md-fsize68 {
    font-size: 68px !important;
  }
  .md-fsize69 {
    font-size: 69px !important;
  }
  .md-fsize70 {
    font-size: 70px !important;
  }
  .md-fsize71 {
    font-size: 71px !important;
  }
  .md-fsize72 {
    font-size: 72px !important;
  }
  .md-fsize73 {
    font-size: 73px !important;
  }
  .md-fsize74 {
    font-size: 74px !important;
  }
  .md-fsize75 {
    font-size: 75px !important;
  }
  .md-fsize76 {
    font-size: 76px !important;
  }
  .md-fsize77 {
    font-size: 77px !important;
  }
  .md-fsize78 {
    font-size: 78px !important;
  }
  .md-fsize79 {
    font-size: 79px !important;
  }
  .md-fsize80 {
    font-size: 80px !important;
  }
  .md-fsize81 {
    font-size: 81px !important;
  }
  .md-fsize82 {
    font-size: 82px !important;
  }
  .md-fsize83 {
    font-size: 83px !important;
  }
  .md-fsize84 {
    font-size: 84px !important;
  }
  .md-fsize85 {
    font-size: 85px !important;
  }
  .md-fsize86 {
    font-size: 86px !important;
  }
  .md-fsize87 {
    font-size: 87px !important;
  }
  .md-fsize88 {
    font-size: 88px !important;
  }
  .md-fsize89 {
    font-size: 89px !important;
  }
  .md-fsize90 {
    font-size: 90px !important;
  }
  .md-fsize91 {
    font-size: 91px !important;
  }
  .md-fsize92 {
    font-size: 92px !important;
  }
  .md-fsize93 {
    font-size: 93px !important;
  }
  .md-fsize94 {
    font-size: 94px !important;
  }
  .md-fsize95 {
    font-size: 95px !important;
  }
  .md-fsize96 {
    font-size: 96px !important;
  }
  .md-fsize97 {
    font-size: 97px !important;
  }
  .md-fsize98 {
    font-size: 98px !important;
  }
  .md-fsize99 {
    font-size: 99px !important;
  }
  .md-fsize100 {
    font-size: 100px !important;
  }
}
/* ======================= End-MD-Font-size ======================= */

/* ======================= Start-SM-Font-size ======================= */
@media (max-width: 640px) {
  .sm-fsize1 {
    font-size: 1px !important;
  }
  .sm-fsize2 {
    font-size: 2px !important;
  }
  .sm-fsize3 {
    font-size: 3px !important;
  }
  .sm-fsize4 {
    font-size: 4px !important;
  }
  .sm-fsize5 {
    font-size: 5px !important;
  }
  .sm-fsize6 {
    font-size: 6px !important;
  }
  .sm-fsize7 {
    font-size: 7px !important;
  }
  .sm-fsize8 {
    font-size: 8px !important;
  }
  .sm-fsize9 {
    font-size: 9px !important;
  }
  .sm-fsize10 {
    font-size: 10px !important;
  }
  .sm-fsize11 {
    font-size: 11px !important;
  }
  .sm-fsize12 {
    font-size: 12px !important;
  }
  .sm-fsize13 {
    font-size: 13px !important;
  }
  .sm-fsize14 {
    font-size: 14px !important;
  }
  .sm-fsize15 {
    font-size: 15px !important;
  }
  .sm-fsize16 {
    font-size: 16px !important;
  }
  .sm-fsize17 {
    font-size: 17px !important;
  }
  .sm-fsize18 {
    font-size: 18px !important;
  }
  .sm-fsize19 {
    font-size: 19px !important;
  }
  .sm-fsize20 {
    font-size: 20px !important;
  }
  .sm-fsize21 {
    font-size: 21px !important;
  }
  .sm-fsize22 {
    font-size: 22px !important;
  }
  .sm-fsize23 {
    font-size: 23px !important;
  }
  .sm-fsize24 {
    font-size: 24px !important;
  }
  .sm-fsize25 {
    font-size: 25px !important;
  }
  .sm-fsize26 {
    font-size: 26px !important;
  }
  .sm-fsize27 {
    font-size: 27px !important;
  }
  .sm-fsize28 {
    font-size: 28px !important;
  }
  .sm-fsize29 {
    font-size: 29px !important;
  }
  .sm-fsize30 {
    font-size: 30px !important;
  }
  .sm-fsize31 {
    font-size: 31px !important;
  }
  .sm-fsize32 {
    font-size: 32px !important;
  }
  .sm-fsize33 {
    font-size: 33px !important;
  }
  .sm-fsize34 {
    font-size: 34px !important;
  }
  .sm-fsize35 {
    font-size: 35px !important;
  }
  .sm-fsize36 {
    font-size: 36px !important;
  }
  .sm-fsize37 {
    font-size: 37px !important;
  }
  .sm-fsize38 {
    font-size: 38px !important;
  }
  .sm-fsize39 {
    font-size: 39px !important;
  }
  .sm-fsize40 {
    font-size: 40px !important;
  }
  .sm-fsize41 {
    font-size: 41px !important;
  }
  .sm-fsize42 {
    font-size: 42px !important;
  }
  .sm-fsize43 {
    font-size: 43px !important;
  }
  .sm-fsize44 {
    font-size: 44px !important;
  }
  .sm-fsize45 {
    font-size: 45px !important;
  }
  .sm-fsize46 {
    font-size: 46px !important;
  }
  .sm-fsize47 {
    font-size: 47px !important;
  }
  .sm-fsize48 {
    font-size: 48px !important;
  }
  .sm-fsize49 {
    font-size: 49px !important;
  }
  .sm-fsize50 {
    font-size: 50px !important;
  }
  .sm-fsize51 {
    font-size: 51px !important;
  }
  .sm-fsize52 {
    font-size: 52px !important;
  }
  .sm-fsize53 {
    font-size: 53px !important;
  }
  .sm-fsize54 {
    font-size: 54px !important;
  }
  .sm-fsize55 {
    font-size: 55px !important;
  }
  .sm-fsize56 {
    font-size: 56px !important;
  }
  .sm-fsize57 {
    font-size: 57px !important;
  }
  .sm-fsize58 {
    font-size: 58px !important;
  }
  .sm-fsize59 {
    font-size: 59px !important;
  }
  .sm-fsize60 {
    font-size: 60px !important;
  }
  .sm-fsize61 {
    font-size: 61px !important;
  }
  .sm-fsize62 {
    font-size: 62px !important;
  }
  .sm-fsize63 {
    font-size: 63px !important;
  }
  .sm-fsize64 {
    font-size: 64px !important;
  }
  .sm-fsize65 {
    font-size: 65px !important;
  }
  .sm-fsize66 {
    font-size: 66px !important;
  }
  .sm-fsize67 {
    font-size: 67px !important;
  }
  .sm-fsize68 {
    font-size: 68px !important;
  }
  .sm-fsize69 {
    font-size: 69px !important;
  }
  .sm-fsize70 {
    font-size: 70px !important;
  }
  .sm-fsize71 {
    font-size: 71px !important;
  }
  .sm-fsize72 {
    font-size: 72px !important;
  }
  .sm-fsize73 {
    font-size: 73px !important;
  }
  .sm-fsize74 {
    font-size: 74px !important;
  }
  .sm-fsize75 {
    font-size: 75px !important;
  }
  .sm-fsize76 {
    font-size: 76px !important;
  }
  .sm-fsize77 {
    font-size: 77px !important;
  }
  .sm-fsize78 {
    font-size: 78px !important;
  }
  .sm-fsize79 {
    font-size: 79px !important;
  }
  .sm-fsize80 {
    font-size: 80px !important;
  }
  .sm-fsize81 {
    font-size: 81px !important;
  }
  .sm-fsize82 {
    font-size: 82px !important;
  }
  .sm-fsize83 {
    font-size: 83px !important;
  }
  .sm-fsize84 {
    font-size: 84px !important;
  }
  .sm-fsize85 {
    font-size: 85px !important;
  }
  .sm-fsize86 {
    font-size: 86px !important;
  }
  .sm-fsize87 {
    font-size: 87px !important;
  }
  .sm-fsize88 {
    font-size: 88px !important;
  }
  .sm-fsize89 {
    font-size: 89px !important;
  }
  .sm-fsize90 {
    font-size: 90px !important;
  }
  .sm-fsize91 {
    font-size: 91px !important;
  }
  .sm-fsize92 {
    font-size: 92px !important;
  }
  .sm-fsize93 {
    font-size: 93px !important;
  }
  .sm-fsize94 {
    font-size: 94px !important;
  }
  .sm-fsize95 {
    font-size: 95px !important;
  }
  .sm-fsize96 {
    font-size: 96px !important;
  }
  .sm-fsize97 {
    font-size: 97px !important;
  }
  .sm-fsize98 {
    font-size: 98px !important;
  }
  .sm-fsize99 {
    font-size: 99px !important;
  }
  .sm-fsize100 {
    font-size: 100px !important;
  }
}
/* ======================= End-SM-Font-size ======================= */

/* ======================= Start-Font-Weight ======================= */
.font-100 {
  font-weight: 100 !important;
}
.font-200 {
  font-weight: 200 !important;
}
.font-300 {
  font-weight: 300 !important;
}
.font-400 {
  font-weight: 400 !important;
}
.font-500 {
  font-weight: 500 !important;
}
.font-600 {
  font-weight: 600 !important;
}
.font-700 {
  font-weight: 700 !important;
}
.font-800 {
  font-weight: 800 !important;
}
.font-900 {
  font-weight: 900 !important;
}
@media (max-width: 768px) and (min-width: 641px) {
  .md-font-100 {
    font-weight: 100 !important;
  }
  .md-font-200 {
    font-weight: 200 !important;
  }
  .md-font-300 {
    font-weight: 300 !important;
  }
  .md-font-400 {
    font-weight: 400 !important;
  }
  .md-font-500 {
    font-weight: 500 !important;
  }
  .md-font-600 {
    font-weight: 600 !important;
  }
  .md-font-700 {
    font-weight: 700 !important;
  }
  .md-font-800 {
    font-weight: 800 !important;
  }
  .md-font-900 {
    font-weight: 900 !important;
  }
}
@media (max-width: 640px) {
  .sm-font-100 {
    font-weight: 100 !important;
  }
  .sm-font-200 {
    font-weight: 200 !important;
  }
  .sm-font-300 {
    font-weight: 300 !important;
  }
  .sm-font-400 {
    font-weight: 400 !important;
  }
  .sm-font-500 {
    font-weight: 500 !important;
  }
  .sm-font-600 {
    font-weight: 600 !important;
  }
  .sm-font-700 {
    font-weight: 700 !important;
  }
  .sm-font-800 {
    font-weight: 800 !important;
  }
  .sm-font-900 {
    font-weight: 900 !important;
  }
}
/* ======================= End-Font-Weight ======================= */

/* ======================= Start-Text-Align ======================= */
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
@media (max-width: 768px) and (min-width: 641px) {
  .md-text-center {
    text-align: center !important;
  }
  .md-text-left {
    text-align: left !important;
  }
  .md-text-right {
    text-align: right !important;
  }
}
@media (max-width: 640px) {
  .sm-text-center {
    text-align: center !important;
  }
  .sm-text-left {
    text-align: left !important;
  }
  .sm-text-right {
    text-align: right !important;
  }
}
/* ======================= Emd-Text-Align ======================= */

/* ======================= Start-Text-Decoration ======================= */
.dashed {
  text-decoration: dashed !important;
}
.dotted {
  text-decoration: dotted !important;
}
.underline {
  text-decoration: underline !important;
}
.line-through {
  text-decoration: line-through !important;
}
.decoration-none {
  text-decoration: none !important;
}
@media (max-width: 768px) and (min-width: 641px) {
  .md-dashed {
    text-decoration: dashed !important;
  }
  .md-dotted {
    text-decoration: dotted !important;
  }
  .md-underline {
    text-decoration: underline !important;
  }
  .md-line-through {
    text-decoration: line-through !important;
  }
  .md-decoration-none {
    text-decoration: none !important;
  }
}
@media (max-width: 640px) {
  .sm-dashed {
    text-decoration: dashed !important;
  }
  .sm-dotted {
    text-decoration: dotted !important;
  }
  .sm-underline {
    text-decoration: underline !important;
  }
  .sm-line-through {
    text-decoration: line-through !important;
  }
  .sm-decoration-none {
    text-decoration: none !important;
  }
}
/* ======================= Emd-Text-Decoration ======================= */

/* ======================= Start-Text-transform ======================= */
.capitalize {
  text-transform: capitalize !important;
}
.uppercase {
  text-transform: uppercase !important;
}
.lowercase {
  text-transform: lowercase !important;
}
@media (max-width: 768px) and (min-width: 641px) {
  .md-capitalize {
    text-transform: capitalize !important;
  }
  .md-uppercase {
    text-transform: uppercase !important;
  }
  .md-lowercase {
    text-transform: lowercase !important;
  }
}
@media (max-width: 640px) {
  .sm-capitalize {
    text-transform: capitalize !important;
  }
  .sm-uppercase {
    text-transform: uppercase !important;
  }
  .sm-lowercase {
    text-transform: lowercase !important;
  }
}
/* ======================= Emd-Text-transform ======================= */
